body{
    background-image: url("https://5.imimg.com/data5/SELLER/Default/2023/7/322900116/XE/OI/SN/107827373/react-js-development-service-500x500.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}
a{
    text-decoration: none;
    font-size: 15px;
    color: black;
}
.btn{
    width: 160px;
    height: 30px;
    margin-bottom: 18px;
    margin-left: 10px;
    padding: 10px;
    border-radius: 10px;
    background-color: rgb(55, 144, 144);
    border: 1px solid white;
    box-shadow: 5px 5px rgb(27, 121, 38);
    text-transform: uppercase;
}
.sub{
    position: relative;
    bottom: 190px;
    width: 160px;
    height: 30px;
    margin-bottom: 18px;
    margin-left: 1350px;
    padding: 10px;
    border-radius: 10px;
    background-color: rgb(55, 144, 144);
    border: 1px solid white;
    box-shadow: 5px 5px rgb(27, 121, 38);
    text-transform: uppercase;
}
.righ{
    position: relative;
    bottom: 50px;
    right: 45px;
    text-align: right;
    font-size: 40px;
    
    color: white;
    text-shadow: 5px 5px 5px #FF0000;
}
.lef{
    position: relative;
    bottom: 10px;
    text-align: leftt;
    font-size: 40px;
    color: rgb(255, 255, 255);
    text-shadow: 5px 5px 2px #1f79b9;
}